<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title></title>
</head>

<body>
    <header class="menu-container">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Company Logo Image">
        <nav class="menu">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('location') }}">Location</a></li>
                <li><a href="{{ url_for('cars') }}">Cars</a></li>
                <li><a href="{{ url_for('rating') }}">Rating</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="description-compagnie">
            
            <h1 class="description-compagnie">
                <span class="first-color">Leaf</span>Mobil
            </h1>

            <ul>
                {% for row in data %}
                    <li>{{ row }}</li>
                 {% endfor %}
            </ul>

            <p>How to rent easy with LeafMobil</p>

            <p>Located in the city of Montreal, we offer a wide range of electric cars for rent. </p>

            <p>You can rent for an hour or several days.
                Choose to pick up the car immediately or reserve ahead of time.
                When you're done, the car is returned to the space it belongs to.
            </p>

            <p>Why download LeafMobil?
                SJoin for free with no monthly fee
                It costs nothing to create a user and you only pay when you rent a car.
            </p>

            <p>If you have any questions, please contact us in the contact section.
                To reserve, find the one closest to you in the interactive map and submit your request.
            </p>
        </div>

        <div class="map">
            <p>Interactive Map of our locations:</p>
            <img id="image_map" src="{{ url_for('static', filename='/img/google_maps.jpg') }}" alt="Google Maps Image">
        </div>

        <div class="description-services">
            <p>Une Description de nos services:</p>

        </div>












    </main>

    <footer>
        <p>© 2023 LeafMobil, Creative Commons 3.0 (CC-BY 3.0)</p>
    </footer>
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>

</html>